# Virtual environments
venv/
.venv/

# Python bytecode
__pycache__/
*.pyc

# Environment variables
.env

# Build/distribution
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# MkDocs build output
site/
